@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Work Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: 2%;        
}

i {
    color: brown;
    font-size: 90%;
}

h2 {
    font-size: 120%;
}

header p,
header h1 {
    margin-left: 1%;
}   

section {
    background: url(../images/track.webp);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 8%;
}

.main-area {
    width: 80%;
    margin: 0 auto;
}


/* distance area */

.distance-area {
    display: flex;
    flex-direction: row;   
    background-color: rgba(255, 255, 255, 0.8);    
}

.distance-area i {
    margin-left: 5px;
}

.distance-area label,
.distance-area ul {
    align-self: center;
}

.distance-area label {
    margin-left: 1%;
}

.distance-area input {
    width: 70px;
}

.distance-area li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;    
}

.active,
.distance-item:hover {
    background-color: #3A5A7C;    
    color: #ffffff;
    padding: 0 7px;
}


/* user choice area */

#user-choice input {                /* code from  stackOverflow discussion */ 
    display: inline-block;                
    width: 6em;
    position: relative;
    top: -3em;
}

#user-choice label {
    display: inline-block;
    width: 6em;
    margin-right: .5em;
    padding-top: 1.5em;
}


/* splits area */

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
}

#splits > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dotted black;
}
#splits-txt {
    color: #4d4d4d;
    font-size: 12px!important;
    margin: 0;
}

#splits p {
    font-size: 90%;
    font-style: oblique;
}

#splits span {
    padding-right: 10px;
}


/* media queries */

@media screen and (max-width: 770px) {

    .wrap {
        flex-direction: column;
        align-items: center;
    }

    .distance-area {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1%;
    }
}


@media screen and (max-width: 550px) {

    #user-choice {
        padding-left: 5%;
    }

    .distance-area > ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;        
    }

    .distance-area li {
        margin: 5px 0;
    }

    .distance-area h2 {
        margin-bottom: 0;
    }
}